h1{
    text-align: center;
    color: red;
    background-color: rgb(219, 196, 255);
}
div{
    display: flex;
    justify-content: center;
    button{
        
        background: blue;
        border: 1px solid blue;
    }
}